<html>
    <body>
        <form action="http://localhost:5000/result" method="POST">
            <table style="text-align: left;">
                <tr>
                    <th>Name</th>
                    <th><input type="text" name="Name"></th>
                </tr>
                <tr>
                    <th>Physics</th>
                    <th><input type="text" name="Physics"></th>
                </tr>
                <tr>
                    <th>Chemistry</th>
                    <th><input type="text" name="Chemistry"></th>
                </tr>
                <tr>
                    <th>Math</th>
                    <th><input type="text" name="Math"></th>
                </tr>
                <tr>
                    <th></th>
                    <th><input type="submit" name="Submit"></th>
                </tr>
            </table>
        </form>
    </body>
</html>
